body{
    background-color: aqua;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    background-color:#ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:800px;
    height:400px;
    gap:40px;
}
label{
    display: flex;
}
input{
    display: flex;
    width:600px;
    height:40px;
    border-radius:10px;
    border:1px solid black;
}
textarea{
display: flex;
    width:600px;
    height:80px;
    border-radius:10px;
    border:1px solid black;
}